# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Local database and state
database.json
database.json.tmp

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
